.mco-grid-multiplication-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 3vw, 15px);
}

.xor-figure{
    width: 32px;
    height: 32px;
    margin: 0;
}

.xor-figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}

.state-wrapper{
    margin: 0;
}

.mco-xor-icon-figure{
    margin: 0;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.mco-xor-icon-figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.mco-operations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.mco-multi-visual-mul-container hr{
    height: 1px;
    background-color: white;
}

.mco-multiplication-figure{
    width: 32px;
    height: 32px;
    margin: 60px 0 0 0;
}

.mco-multiplication-figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.mco-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mco-title-container img{   
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0;
}

.mco-title-container h3{
    margin: 0 0 5px 0;
}

.mco-xor-mul-container{
    display: flex;
    align-items: end;
}

.mco-matrix-multiplication-summary{
    display: flex;
}

.mco-component-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 25px;
    justify-content: center;
}

.mco-operation-procedure{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mco-operation-procedure hr{
    width: 100%;
}

.mco-quick-visualization{
    margin: 0px 20px;
}

.mco-polynomial-multiplication-result{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mco-polynomial-multiplication-result p{
    margin: 0px 3px;
}

.mco-operation-procedure-selection-menu{
    display: flex;
    gap: 20px;
}

.mco-operation-procedure-selection-menu-option{
    cursor: pointer;
}

.mco-left-attachable-operation-equal-char{
    margin: 0px 10px;
}

.mco-left-attachable-operation-arrow-char{
    margin: 0px 0px 0px 10px;
}

.mco-left-attachable-wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
}