.pm-polynomial-multiplication{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pm-right-parenthesis{
    margin-left: 0.3rem;
}

.pm-left-parenthesis{
    margin-right: 0.3rem;
}

.pm-separator{
    margin: 0 0.3rem
}